{% extends "layout.html" %}
{% block body %}
<h2>修改用户信息</h2>
{% if session.username == 'admin' %}
    <form action="{{ url_for('moduserpage') }}" method=post class=add-entry>
        <table>
            <tr><td><b>ID:</b></td>
                <td><input type=text size=51 name=id value="{{ row['id'] }}" readonly></td>
            </tr>
            <tr><td><b>用户名:</b></td>
                <td><input type=text size=51 name=username value="{{ row['name'] }}" ></td>
            </tr>
            <tr><td><b>密码:</b></td>
            <td><input type=text size=51 name=password value="{{ row['password'] }}"></td>
            </tr>
            <tr><td></td><td><input type=submit value="提交"></td></tr>
        </table>
    </form>
{% endif %}
{% endblock %}
