{% extends "layout.html" %}
{% block body %}
  
<table width="100%" border=0 class=entries  cellspacing=0 cellpadding="5">
  {% if entry %}
      <tr bgcolor="#eeeeee" height="25">
          <td width="100%" class="title">
              {{ entry.title }}
          </td>
      </tr>
      <tr>
          <td align="right" class='op'>
              <a href="{{ url_for('show_entries') }}">返回</a> |
              {% if session.username == 'admin' %}
               <a href="{{ url_for('mod', id=entry.id) }}">修改</a> |
              {% endif %}
              {% if session.username == entry.name  or session.username == 'admin' %}
             
              <a href="{{ url_for('delete', id=entry.id) }}">删除</a> |
              {% endif %}
              {{ entry.name }} |
              {{ entry.date }}
          </td>
      </tr>
      <tr  height="200"><td class="text" valign=top bgcolor="#e8e8cf">{{ entry.text|safe }}</td></tr>
  {% endif %}
  </table>
{% endblock %}

